/* src/App.css */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	color: #333;
	margin: 0;
	padding: 20px;
}

.App {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: #333;
}

.add-product-form,
.edit-product-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
textarea {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

textarea {
	resize: vertical;
}

button {
	padding: 10px;
	font-size: 16px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

.product-list {
	margin-top: 20px;
}


.product-item {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.product-item h3 {
	margin: 0;
	color: #007bff;
}

.product-item p {
	margin: 5px 0;
}

.product-item button {
	margin-right: 10px;
}

.product-item .edit-product-form {
	margin-top: 10px;
}